.background-container {
  &--white {
    background: url("../img/advantages_triangles.svg") no-repeat;
    background-position: 0 0;
    background-size: auto;
  }
}

.no-webp .background-container--blue {
  background-image: url("../img/form_bg.svg"), url("../img/form_triangles.svg"), url("../img/paper_airplane.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 100% 42px, top 94px right 1115px, right 1059px top 161px;
  background-size: auto, auto, 511px 288px;
  background-color: $blue-color;
}

.webp .background-container--blue {
  background-image: url("../img/form_bg.svg"), url("../img/form_triangles.svg"), url("../img/paper_airplane.webp");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 100% 42px, top 94px right 1115px, right 1059px top 161px;
  background-size: auto, auto, 511px 288px;
  background-color: $blue-color;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .no-webp .background-container--blue {
    background-image: url("../img/form_bg.svg"), url("../img/form_triangles.svg"), url("../img/paper_airplane_2x.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 100% 42px, top 94px right 1115px, right 1059px top 161px;
    background-size: auto, auto, 511px 288px;
    background-color: $blue-color;
  }

  .webp .background-container--blue {
    background-image: url("../img/form_bg.svg"), url("../img/form_triangles.svg"), url("../img/paper_airplane_2x.webp");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 100% 42px, top 94px right 1115px, right 1059px top 161px;
    background-size: auto, auto, 511px 288px;
    background-color: $blue-color;
  }
}

@media (max-width: 1550px) {
  .no-webp .background-container--blue {
    background-position: 100% 42px, top 94px right 865px, right 910px top 161px;
  }

  .webp .background-container--blue {
    background-position: 100% 42px, top 94px right 865px, right 910px top 161px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .no-webp .background-container--blue {
      background-position: 100% 42px, top 94px right 865px, right 910px top 161px;
    }

    .webp .background-container--blue {
      background-position: 100% 42px, top 94px right 865px, right 910px top 161px;
    }
  }
}

@media (max-width: 1300px) {
  .no-webp .background-container--blue {
    background-position: 100% 42px, top 94px right 810px, right 840px top 161px;
    background-size: auto, auto, 346px 195px;
  }

  .webp .background-container--blue {
    background-position: 100% 42px, top 94px right 810px, right 840px top 161px;
    background-size: auto, auto, 346px 195px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .no-webp .background-container--blue {
      background-position: 100% 42px, top 94px right 810px, right 840px top 161px;
      background-size: auto, auto, 346px 195px;
    }

    .webp .background-container--blue {
      background-position: 100% 42px, top 94px right 810px, right 840px top 161px;
      background-size: auto, auto, 346px 195px;
    }
  }
}

@media (max-width: $tablet-width) {
  .background-container {
    &--white {
      background: url("../img/advantages_triangles_tablet.svg") no-repeat;
      background-position: 0 0;
      background-size: auto;
    }
  }

  .webp .background-container--blue {
    background-image: unset;
  }

  .no-webp .background-container--blue {
    background-image: unset;
  }
}
