.features {
  @include roboto-r;

  color: #ffffff;

  background-color: $dark-navy-color;
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  width: 60.93%;
  margin: 0 auto;
  padding: 0 19.535%;
  max-width: 1170px;

  & h2 {
    width: 74.35%;
    margin: 90px auto 49px 0;

    font-size: 36px;
    line-height: 51px;
  }
}

.features__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  margin-bottom: 97px;
  width: 100%;

  font-size: 20px;
  line-height: 30px;
}

.features__item {
  width: 31.62%;
  min-height: 620px;
  margin: 0 2.56% 2.56% 0;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    outline: 1px solid $blue-color;
    opacity: 0.5;
  }

  &:active {
    outline: 1px solid $blue-color;
    opacity: 0.3;
  }
}

.features__link {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  color: #ffffff;

  &:hover {
    outline: $blue-color;
  }

  &:active {
    outline: $blue-color;

    opacity: 0.5;
  }

  &--manufacture {
    background-image: url("../img/feature_1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--install {
    background-image: url("../img/feature_2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--parts {
    background-image: url("../img/feature_3.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  & p {
    width: 154px;
    margin: 13.78% auto 0 11.89%;
    align-self: flex-start;
  }

  & span {
    position: relative;
    align-self: flex-end;

    width: 63px;
    height: 63px;
    margin: auto 0 0 auto;

    background-color: $blue-color;

    &::before {
      position: absolute;
      content: "";
      top: 54%;
      left: 53%;

      display: block;
      width: 6px;
      height: 1px;

      background-color: #ffffff;

      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &::after {
      position: absolute;
      content: "";
      top: 51%;
      left: 51%;

      display: block;
      width: 6px;
      height: 1px;

      background-color: #ffffff;

      transform-origin: right bottom;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .features__link {
    &--manufacture {
      background-image: url("../img/feature_1_2x.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--install {
      background-image: url("../img/feature_2_2x.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--parts {
      background-image: url("../img/feature_3_2x.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

@media (max-width: $tablet-width) {
  .features__wrapper {
    width: 93.5%;
    margin: 0 auto;
    padding: 0 3.25%;

    & h2 {
      width: 85.14%;
      margin: 50px auto 50px 0;

      font-size: 32px;
      line-height: 140.62%;
    }
  }

  .features__list {
    @include list-reset;

    flex-direction: column;
    justify-content: unset;
    margin-bottom: 78px;
  }

  .features__item {
    width: 100%;
    min-height: auto;
    margin: 0;
    margin-bottom: 46px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .features__link {
    flex-direction: column;
    height: auto;
    min-height: 256px;

    &--manufacture {
      background-image: url("../img/feature_1_tablet.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--install {
      background-image: url("../img/feature_2_tablet.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--parts {
      background-image: url("../img/feature_3_tablet.png");
      background-repeat: no-repeat;
      background-size: cover;

      & p {
        margin-top: 50px;
      }
    }

    & p {
      width: 154px;
      margin: 5.6% auto 0 5.97%;
      align-self: unset;
    }
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .features__link {
      &--manufacture {
        background-image: url("../img/feature_1_tablet_2x.png");
        background-repeat: no-repeat;
        background-size: cover;
      }

      &--install {
        background-image: url("../img/feature_2_tablet_2x.png");
        background-repeat: no-repeat;
        background-size: cover;
      }

      &--parts {
        background-image: url("../img/feature_3_tablet_2x.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .features__wrapper {
    width: 90.625%;
    padding: 0 1.875%;

    & h2 {
      width: 96.55%;
      margin-left: 10px;
      margin-bottom: 42px;

      font-size: 28px;
      line-height: 140.62%;
    }
  }

  .features__list {
    margin-bottom: 64px;
  }

  .features__item {
    margin-bottom: 30px;
  }

  .features__link {
    &--manufacture {
      background-image: url("../img/feature_1_mobile.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--install {
      background-image: url("../img/feature_2_mobile.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--parts {
      background-image: url("../img/feature_3_mobile.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    & p {
      margin-top: 7%;
      margin-left: 12%;
    }
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .features__link {
      &--manufacture {
        background-image: url("../img/feature_1_mobile_2x.png");
        background-repeat: no-repeat;
        background-size: cover;
      }

      &--install {
        background-image: url("../img/feature_2_mobile_2x.png");
        background-repeat: no-repeat;
        background-size: cover;
      }

      &--parts {
        background-image: url("../img/feature_3_mobile_2x.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}
