.main-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 116px;
  justify-content: space-between;
  flex-shrink: 1;
}

.main-nav__site-nav {
  display: flex;
  flex-wrap: wrap;
  width: 25.4%;
  justify-content: space-between;
}

.main-nav__logo {
  margin-top: 32px;
  margin-bottom: 32px;
}

.main-nav__menu {
  @include button-reset;

  position: relative;

  width: 39px;
  height: 15px;
  margin: 53px 0 50px 0;

  &::before {
    position: absolute;
    content: "";
    z-index: 2;
    top: 0;
    left: 0;

    width: 37px;
    height: 1px;

    background-color: #ffffff;
    box-shadow: 0 11px 0 0 #ffffff;
  }

  &:hover::before {
    background-color: rgba(1, 178, 255, 1);
    box-shadow: 0 12px 0 0 rgba(1, 178, 255, 1);
  }

  &:active::before {
    background-color: rgba(1, 178, 255, 0.3);
    box-shadow: 0 12px 0 0 rgba(1, 178, 255, 0.3);
  }
}

.main-nav__contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-shrink: 1;

  width: 46.77%;

  & a {
    display: flex;
    align-items: center;
    margin: 50px 0;
    box-sizing: border-box;
    line-height: 18px;
    color: #ffffff;

    &:first-of-type {
      margin-right: 7%;
    }

    &:hover {
      color: rgba(1, 178, 255, 1);
    }

    &:active {
      color: rgba(1, 178, 255, 0.3);
    }
  }
}

.main-nav__mail-image {
  margin-right: 18px;

  &:hover {
    fill: rgba(1, 178, 255, 1);
  }

  &:active {
    fill: rgba(1, 178, 255, 0.3);
  }
}

.main-nav__phone-image {
  margin-right: 15px;
}

.main-nav__callback {
  @include button-reset;
  @include button-style;

  margin: 37px 0 37px 5px;
  padding: 12px 28px 14px 27px;
  border: 1px solid #ffffff;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
