.main-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-nav__logo {
  margin-right: 8.4%;
}

.main-nav__menu {
  @include button-reset;

  position: relative;

  width: 39px;
  height: 15px;
  margin: 3.68% 0;

  &::before {
    position: absolute;
    content: "";
    z-index: 2;
    top: 0;
    left: 0;

    width: 37px;
    height: 1px;

    background-color: #ffffff;
    box-shadow: 0 13px 0 0 #ffffff;
  }

  &:hover::before {
    background-color: rgba(1, 178, 255, 1);
    box-shadow: 0 11px 0 0 rgba(1, 178, 255, 1);
  }

  &:active::before {
    background-color: rgba(1, 178, 255, 0.3);
    box-shadow: 0 11px 0 0 rgba(1, 178, 255, 0.3);
  }
}

.main-nav__contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-shrink: 10;

  width: 30.47%;
  margin-left: auto;

  & a {
    display: flex;
    align-items: center;
    margin: 5.81% 0;
    box-sizing: border-box;
    line-height: 18px;
    color: #ffffff;

    &:hover {
      color: rgba(1, 178, 255, 1);
    }

    &:active {
      color: rgba(1, 178, 255, 0.3);
    }
  }
}

.main-nav__mail-image {
  margin-right: 17px;

  &:hover {
    fill: rgba(1, 178, 255, 1);
  }

  &:active {
    fill: rgba(1, 178, 255, 0.3);
  }
}

.main-nav__phone-image {
  margin-right: 15px;
}

.main-nav__callback {
  @include button-reset;
  @include button-style;

  margin: 1.27% 0 1.27% 3.45%;
  padding: 12px 28px 14px 27px;
  border: 1px solid #ffffff;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

// @media (max-width: 1023px) {

// }
