.main-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  & a {
    display: flex;
    align-items: center;
    margin: 50px 6.23% 50px 0;
    box-sizing: border-box;

    line-height: 18px;
    color: #ffffff;

    cursor: pointer;
    fill: $blue-color;

    &:hover {
      color: rgba(1, 178, 255, 1);
      fill: #ffffff;
    }

    &:active {
      color: rgba(1, 178, 255, 0.3);
      fill-opacity: 0.5;
    }

    &:focus {
      outline: 5px solid #4d90fe;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:first-of-type {
      margin-left: 3.11%;
    }
  }
}

.main-nav__logo {
  margin-right: 8.4%;

  &--mobile {
    display: none;
  }
}

.main-nav__menu {
  @include button-reset;

  position: relative;

  width: 39px;
  height: 15px;
  margin: 52px auto 52px 0;

  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    z-index: 2;
    top: 0;
    left: 0;

    width: 37px;
    height: 1px;

    background-color: #ffffff;
    box-shadow: 0 11px 0 0 #ffffff;
  }

  &:hover::before {
    background-color: rgba(1, 178, 255, 1);
    box-shadow: 0 11px 0 0 rgba(1, 178, 255, 1);
  }

  &:active::before {
    background-color: rgba(1, 178, 255, 0.3);
    box-shadow: 0 11px 0 0 rgba(1, 178, 255, 0.3);
  }

  &:focus {
    outline: 5px solid #4d90fe;
  }
}

.main-nav__mail-image {
  margin-right: 17px;
}

.main-nav__phone-image {
  margin-right: 15px;

  &:hover {
    fill: rgba(1, 178, 255, 1);
  }

  &:active {
    fill: rgba(1, 178, 255, 0.3);
  }

  &:focus {
    outline: 5px solid #4d90fe;
  }
}

.main-nav__callback {
  @include button-reset;
  @include button-style;

  margin: 37px 0 37px 3.7%;
  padding: 12px 28px 14px 27px;
  border: 1px solid #ffffff;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  cursor: pointer;

  &:hover {
    border: 1px solid $blue-color;

    color: $blue-color;
  }

  &:active {
    border: 1px solid $blue-color;

    opacity: 0.5;
  }

  &:focus {
    outline: 5px solid #4d90fe;
  }
}

@media (max-width: $tablet-width) {
  .main-nav {
    min-height: 29.16%;

    & a {
      margin: 34px 33px 34px 0;
      font-size: 0;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  .main-nav__logo {
    margin: 20px auto 20px 0;
  }

  .main-nav__callback {
    display: none;
  }

  .main-nav__menu {
    margin: 6px 5% 6px 0;
  }

  .main-nav__mail-image {
    width: 25px;
    height: 19px;
    margin-right: 0;
    margin-bottom: 3px;
  }


  .main-nav__phone-image {
    width: 24px;
    height: 24px;
    margin-right: 0;
  }
}

@media (max-width: $mobile-width) {
  .main-nav {
    min-height: 0.25%;

    & a {
      width: auto;
      height: auto;
      margin: 23px 23px 23px 0;
    }
  }

  .main-nav__logo {
    margin: 16px auto 16px 0;

    &--desktop {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }

  .main-nav__menu {
    &::before {
      left: -12px;
    }
  }
}
